<mat-card>
    <mat-card-header>
        <mat-card-title>Lista</mat-card-title>
        <mat-card-subtitle>de Clientes</mat-card-subtitle>
        <mat-icon style="font-size: 50px;" aria-hidden="false" aria-label="Salir">people_alt</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando">
            <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>
        <div class="mat-elevation-z8">
            <table matSort mat-table [dataSource]="clientes" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="nombre">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let cli"> {{cli.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="apellido">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Apellido </th>
                    <td mat-cell *matCellDef="let cli"> {{cli.apellido}} </td>
                </ng-container>
                <ng-container matColumnDef="edad">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Edad </th>
                    <td mat-cell *matCellDef="let cli"> {{cli.edad}} </td>
                </ng-container>
                <ng-container matColumnDef="fechaDeNacimiento">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Fecha de Nac. </th>
                    <td mat-cell *matCellDef="let cli"> {{cli.fechaDeNacimiento | date:'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef style="text-align: right;">
                        <button mat-icon-button (click)="agregar()">
                            <mat-icon aria-label="Agregar" aria-hidden="false">add</mat-icon>
                        </button>
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align: right;">
                        <button mat-icon-button (click)="editar(element)">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="borrar(element)">
                            <mat-icon aria-label="Delete">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>