<div fxLayout="row" fxLayoutAlign="center center" [style.height.px]="scrHeight">
    <mat-card class="card-home" style="background-color: whitesmoke;">
        <mat-card-header>
            <div mat-card-avatar class="card-home-avatar"></div>
            <mat-card-title>Curso de Angular</mat-card-title>
            <mat-card-subtitle>de Programando Ideas</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://raw.githubusercontent.com/programando-ideas/cursoangular/master/imagenes/curso_angular.PNG" alt="Programando Ideas">
        <mat-card-content>
            <p>
                <a href="youtube.com/programandoideas">Canal de YouTube</a>
            </p>
        </mat-card-content>
    </mat-card>
</div>